main {
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: 2rem;
}

label {
    color: #5e7a7d;
    line-height: 1.5rem;
}

.input-box {
    background-color: #f3f9fa;
    padding: 0.375rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.input-box input {
    border: 0;
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
    background: transparent;
    outline: none;
    color: #00474b;
}

.input-box input::placeholder {
    color: #9ebbbd;
}

.mb-div {
    margin-bottom: 2rem;
}

.tip-percentage div {
    margin-top: 0.625rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.tip-percentage input[type="button"] {
    font-size: 1.5rem;
    line-height: 2.25rem;
    padding-block: 0.375rem;
    border: 0;
    border-radius: 5px;
    background: #00474b;
    color: #fff;
}

.tip-percentage #custom {
    color: #00474b;
    line-height: 2.25rem;
    font-size: 1.5rem;
    width: 100%;
    background: #f3f9fa;
    border: 0;
    outline: 0;
    text-align: center;
}

.tip-percentage #custom::placeholder {
    color: #547878;
}

.results {
    background: #00474b;
    padding: 2.375rem 1.5rem;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total,
.tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.results span {
    font-size: 0.75rem;
    color: #7f9d9f;
}

.total p:last-child,
.tip-amount p:last-child {
    font-size: 2rem;
    color: #26c2ae;
    line-height: 3rem;
}

.results button{
    width: 100%;
    padding-block: 0.5rem;
    background: #26c2ae;
    border-radius: 5px;
    border: 0;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #00474b;
    text-transform: uppercase;
    margin-top: 0.75rem;
}

.results button:hover,
.tip-percentage input[type=button]:hover {
    background: #9fe8df;
    cursor: pointer;
}

@media(min-width: 950px){
    main{
        max-width: 57.5rem;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding: 2.5rem;
        border-radius: 25px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        display: none;
        margin: 0;
    }

    .input-box:has(input:hover),
    .input-box:has(input:focus) {
        outline: 2px solid #26c2ae;
    }

    .tip-percentage #custom:hover,
    .tip-percentage #custom:focus {
        outline: 2px solid #26c2ae;
    }

    .tip-percentage div {
        grid-template-columns: repeat(3, 1fr);
    }

    .tip-percentage input[type=button].selected {
        background: #26c2ae;
        outline: 2px solid #00474b;
    }
}